.hide{
	display: none;
	transition: opacity 1s ease-out;
	opacity: 0;
}

.expand{
	width: 100%;
}
.panel-info{
    background-color: transparent;
    opacity: 0.8;
}

.item{
	position: relative;
}

.item > .title{

}

.item > .price{

}

footer {
	text-align: center;
	font-family: 'Kumar One', cursive;
	color: white;
}

header{
}

body{
	padding-top: 65px;
	display:table;
	width:100%;
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/background/18.jpg");
	background-position:center top;
	height:350px;
}

nav{
}

aside{
	width: 20%;
	float: left;
}

section{
	width: 80%;
	float: right;
}

article{
}

/* my code for css*/
#myCarousel{
	position: absolute;
	width:100%;
}

.centerText {
	text-align: center;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    margin: auto;
    width: 20%;
}

.TextFont {
    font-family: 'Kumar One', cursive;
}

.TextFontHeading {
    text-align: center;
    color: black;
    font-size:1.5vh;
}

.TextFontHeadingForComic{
    font-family: 'Kumar One', cursive;
    text-align: center;
    color: black;
    font-size: 200%;
}

/*body{*/
	/*padding-top: 65px;*/
	/*height:100%;*/
/*}*/