.hide{
	display: none;
}

.expand{
	width: 100%;
}
.panel-info{
    background-color: transparent;
    opacity: 0.8;
}

header{
}

body{
	padding-top: 65px;
	height:100%;
    background:url("SlideShow/sp4.jpg") center center;
	background-repeat: no-repeat;
	background-size: auto;
    background-attachment: fixed;
}

nav{
}

aside{
	width: 20%;
	float: left;
}

section{
	width: 80%;
	float: right;
}

article{
}

footer{
}

/* my code for css*/


.centerText {
	text-align: center;
}

footer {
	text-align: center;
    font-family: 'Kumar One', cursive;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    margin: auto;
    width: 30%;
}

.TextFont {
    font-family: 'Kumar One', cursive;
}

.TextFontHeading {
    font-family: 'Kumar One', cursive;
    text-align: center;
    color: black;
    font-size: 500%;
}

.TextFontHeadingForComic{
    font-family: 'Kumar One', cursive;
    text-align: center;
    color: black;
    font-size: 200%;
}
