.hide{
	display: none;
}

.expand{
	width: 100%;
}

#imagecomic{
	width:100%;
}

#imagedetails{
}

#comicdetails{
}

#addToCartButton{
	float: right;
}

#condtionDropdown{
	float: left;
}

header{
}

nav{
}

aside{
	width: 20%;
	float: left;
}

section{
	width: 80%;
	float: right;
}

article{
}

footer{
}
