<!DOCTYPE html>
<html>
<head>
    <title>SquareEyes</title>
    <meta charset="utf-8" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/Scripts/app/creator-controller.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/Scripts/app/angular-xeditable-0.6.0/css/xeditable.css" />
    <link rel="stylesheet" href="/Scripts/app/angular-xeditable-0.6.0/css/xeditable.min.css" />
    <script src="/Scripts/app/angular-xeditable-0.6.0/js/xeditable.js"></script>
    <script src="/Scripts/app/angular-xeditable-0.6.0/js/xeditable.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

</head>
<body ng-app="SquareEyesApp">
    <div ng-controller="CreatorsCtrl as $ctrl">
        <div class="container">
            <div class="row">
                <h1>Creators</h1>

                <form class="form-inline">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.options.name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="country">Country of residence:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.options.countryOfResidence" id="country">
                    </div>
                    <div class="form-group">
                        <label for="taxReference">Tax Reference number:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.options.taxReferenceNumber" id="taxReference">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.options.email" id="email">
                    </div>
                    <!--<button type="submit" class="btn btn-default" ng-click="$ctrl.addIssue($data, id)">Add</button>-->
                    <button type="submit" class="btn btn-default" ng-click="$ctrl.addCreator()">Add</button>
                </form>

            </div>

            <div class="row">
                <div class="col-md-12">
                    Search: <input type="text" name="creatorSearch" ng-model="$ctrl.creatorSearch" />
                    <button class="btn-default" type="button" ng-click="$ctrl.searchAll()">
                        <span class="glyphicon glyphicon-search"></span> Search All
                    </button>
                </div>
            </div>

            <div class="row">
                <pagination class="pagination-sm" ng-model="$ctrl.currentPage" boundary-links="true" ng-change="$ctrl.pageChanged()" num-pages="$ctrl.noOfPages" max-size="10" total-items="$ctrl.totalItems" items-per-page="20"></pagination>
            </div>

            <div class="row">
                <br />
                Row Count:
                <select ng-init="$ctrl.rowAmount" name="rowAmount" ng-model="$ctrl.rowAmount">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">20</option>
                </select><br>
                <br />
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Tax Reference</th>
                    <th>Email</th>
                    <th>Edit</th>
                    </th>
                    <tbody>
                        <!--<tr ng-repeat="i in $ctrl.options | filter : 'Issue'">-->
                        <tr ng-repeat="i in $ctrl.options.Data | filter: $ctrl.creatorSearch">
                            <td>{{i.CreatorID}}</td>
                            <td>
                                <span editable-text="i.Name" e-name="Name" e-form="rowform" onbeforesave="checkName($data, i.id)" e-required>
                                    {{i.Name || 'empty'}}
                                </span>
                            </td>
                            <td>
                                <span editable-text="i.CountryOfResidence" e-name="CountryOfResidence" e-form="rowform" e-required>
                                    {{i.CountryOfResidence || 'empty'}}
                                </span>
                            </td>
                            <td>
                                <span editable-text="i.TaxReferenceNumber" e-name="TaxReferenceNumber" e-form="rowform" e-required>
                                    {{i.TaxReferenceNumber || 'empty'}}
                                </span>
                            </td>
                            <td>
                                <span editable-text="i.EmailAddress" e-name="EmailAddress" e-form="rowform" e-required>
                                    {{i.EmailAddress || 'empty'}}
                                </span>
                            </td>
                            <td>
                                <form editable-form name="rowform" ng-show="rowform.$visible" onbeforesave="$ctrl.saveCreator($data, i.CreatorID)" class="form-buttons form-inline" shown="inserted == i">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                        save
                                    </button>
                                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                        cancel
                                    </button>
                                </form>

                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>

                                    <button type="button" class="btn btn-danger" ng-click="$ctrl.removeCreator(i)">del</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
