<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock</title>

    <link href="/Scripts/app/Assets/CSS/MainStyleSheet.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.7/angular-sanitize.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/Scripts/app/Assets/CSS/select.min.css" />
    <script src="/Scripts/app/Assets/JS/select.min.js"></script>
    <script rel="stylesheet" href="../Assets/css/Main.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <!--Angular Material stuff-->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <!--Busy loader-->
    <script src="/Scripts/app/Assets/JS/angular-busy.min.js"></script>
    <link href="/Scripts/app/Assets/CSS/angular-busy.min.css" rel="stylesheet" />
    <link href="/Scripts/app/Assets/CSS/xeditable.min.css" rel="stylesheet" />
    <script src="/Scripts/app/Assets/JS/xeditable.min.js"></script>
    <script src="/Scripts/app/Stock/stockController.js"></script>

</head>
<body id="stockbody" ng-app="stockModule" ng-controller="stockController as $sctrl" >
<div ng-include="'/Scripts/app/Assets/Views/navbar.html'"></div>

    <div class="container" id="popupContainer1" >
        <h1 style="text-align:center">Stock</h1>
        <div class="row">
            <div class="col-md-12">
                    <button class="btn btn-primary col-md-2 col-lg-offset-5" style="margin-bottom:10px;" ng-click="$sctrl.showNewStock()">Add New Stock</button>
                <br />
                <br />
                <div ng-show="$sctrl.showMe" ng-submit="$sctrl.makeStock()" style="background-color:#e7e7e7; border-radius:5px">
                    <br />
                        <h4 style="text-align:center">Issue:</h4>
                        <ui-select class="col-md-offset-3" ng-model="$sctrl.selectedIssue"
                                   theme="bootstrap"
                                   reset-search-input="false"
                                   style="width: 600px;"
                                   title="Choose an Issue"
                                   append-to-body="true">
                            <ui-select-match placeholder="Enter an issue title">{{$sctrl.selectedIssue.Title + " #" + $sctrl.selectedIssue.SeriesNumber}}</ui-select-match>
                            <ui-select-choices repeat="item in ($sctrl.someIssues.Data | filter: $select.search) track by item.IssueID"
                                               refresh="$sctrl.refreshIssues($select.search)"
                                               refresh-delay="100">
                                <div ng-bind-html="(item.Title+' #'+item.SeriesNumber)| highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <br />
                    <h4 style="text-align:center">Condition:</h4>
                    <select style="width: 600px;" class="btn btn-default dropdown-toggle col-md-offset-3" ng-model="$sctrl.selectedCondition" title="Condition:">
                        <option value="Very Fine">Very Fine</option>
                        <option value="Fine">Fine</option>
                        <option value="Average">Average</option>
                        <option value="Poor">Poor</option>
                    </select>
                    <br />
                    <form name="newStockForm">
                        <h4 style="text-align:center">Quantity: </h4>
                        <input type="number" name="newQuantity" class="col-md-offset-5" style="width:190px;" ng-model="$sctrl.Quantity" required min="0"/>
                        <div ng-messages="newStockForm.newQuantity.$error" role="alert">
                            <div ng-message="required" style="margin-left:10px; margin-bottom:10px;color:red; text-align:center">Required</div>
                        </div>
                        <br />
                        <h4 style="text-align:center">Price: </h4>
                        <input type="number" name="newPrice" class="col-md-offset-5" style="width:190px;" ng-model="$sctrl.Price" required min="0"/>
                        <div ng-messages="newStockForm.newPrice.$error" role="alert">
                            <div ng-message="required" style="margin-left:10px; margin-bottom:10px;color:red; text-align:center">Required</div>
                        </div><br /><br/>
                        <button class="btn btn-primary col-md-2 col-lg-offset-5" style="margin-top:5px" ng-click="$sctrl.showAlert($event)" type="submit">Add New Stock</button>
                    </form>
                </div>
                <br />
        </div>
        <br />
        <div class="row">
            <div class="col-md-8" style="float:left">
                Search: <input type="text" name="stockSearch" ng-model="$sctrl.stockSearch" />
                <button class="btn-default" type="button" ng-click="$sctrl.searchAll()">
                    <span class="glyphicon glyphicon-search"></span> Search All
                </button>
                <button class="btn-default" type="button" ng-click="$sctrl.restoreAll()">
                     Restore All
                </button>
            </div>
            <div class="col-md-4">
                Items per page<select id="selectPick" class="selectpicker" ng-init="$Sctrl.rowAmount" name="rowAmount" ng-model="$sctrl.rowAmount" data-width="150px">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover table-condensed" cg-busy="$sctrl.myPromise">
                    <tr style="font-weight: bold">
                        <td style="width:auto">Stock ID</td>
                        <td style="width:auto">Issue ID</td>
                        <td style="width:auto">Condition</td>
                        <td style="width:auto">Quantity</td>
                        <td style="width:auto">Price</td>
                        <td style="width:auto">Edit</td>
                    </tr>
                    <tr ng-repeat="stock in $sctrl.someStock.Data | filter: $octrl.stockSearch">
                        <td class="col-md-2" style="text-align:center">
                            {{ stock.StockReferenceID || 'empty' }}
                        </td>
                        <td class="col-md-2" style="text-align:center">
                            <span editable-text="stock.IssueID" e-name="IssueID" e-form="rowform" onbeforesave="checkName($data, stock.IssueID)">
                                {{ stock.IssueID || 'empty' }}
                            </span>
                        </td>
                        <td class="col-md-2" style="text-align:center">
                            <span editable-text="stock.Condition" e-name="Condition" e-form="rowform">
                                {{ stock.Condition || 'empty' }}
                            </span>
                        </td>
                        <td class="col-md-2" style="text-align:center">
                            <span editable-text="stock.AvailableQuantity" e-name="AvailableQuantity" e-form="rowform">
                                {{ stock.AvailableQuantity || 'empty' }}
                            </span>
                        </td>
                        <td class="col-md-2" style="text-align:center">
                            <span editable-text="stock.Price" e-name="Price" e-form="rowform">
                                R{{ stock.Price || 'empty' | number:2}}
                            </span>
                        </td>
                        <td style="white-space: nowrap; text-align:center" class="col-md-2">
                            <!-- form -->
                            <form editable-form name="rowform" onbeforesave="$sctrl.saveStock($data, stock.StockReferenceID)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == stock">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-floppy-saved"></span> Save
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                    <span class="glyphicon glyphicon-floppy-remove"></span> Cancel
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button type="button" class="btn btn-primary" ng-click="rowform.$show()">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </button>
                                <!--
                            <button type="button" class="btn btn-danger" ng-click="$octrl.removeOrder($index, order.OrderID)">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </button>
                            -->
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row text-center">
                <pagination id="pagi" ng-model="$sctrl.currentPage" boundary-links="true" ng-change="$sctrl.pageChanged()" num-pages="$sctrl.noOfPages" max-size="10" total-items="$sctrl.totalItems" items-per-page="$sctrl.rowAmount"></pagination>
        </div>

     </div>
</div>

</body>
</html>
