#mainBody
{
    padding-top: 50px;
}

.searchandselect {
    cursor: pointer;
    position: relative;
    width: 300px;
    border: 1px solid #e6e8ea;
    z-index: 9999;
}

    .searchandselect .header {
        height: 40px;
        padding: 10px 15px;
        z-index: 9999;
    }

    .searchandselect .search {
        padding: 5px;
        display: none;
        z-index: 9999;
    }

    .searchandselect .dropdown {
        border: 1px solid #e6e8ea;
        left: 0;
        list-style: outside none none;
        overflow: auto;
        position: absolute;
        right: 0;
        top: 100%;
        margin: 0;
        padding: 0;
        display: none;
        z-index: 9999;
    }

    .searchandselect.active .search {
        display: inherit;
    }

    .searchandselect.active .dropdown {
        display: inherit;
        max-height: 290px;
    }

    .searchandselect .dropdown li {
        margin: 10px 0 0;
        padding: 0 10px;
    }

        .searchandselect .dropdown li i {
            color: inherit;
            margin-right: 5px;
            vertical-align: middle;
            float: right;
        }

        .searchandselect .dropdown li small {
            margin-right: 10px;
        }

.card:hover {
            background-color: #82c6ff;
            color: #eee;
            transition: background 200ms, color 200ms;
            font-size: 3rem;
        }

.card {
        background-color: #ebebeb;
        border-radius: 10px;
        font-size: 2rem;
 }

    .glyphicon glyphicon-briefcase {
        width: 10rem;
        height: 5rem;
    }


.glyphiconcenter {
    text-align: center;
    margin-left: 160px;
    margin-top: 10px;
    font-size: 50px;
}

.imageError{
   width: 100%;
   height: 100%;
}

.navbar-default {
    background-color: #000000;
   
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

ul.nav {
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav >li> a:hover, .navbar-default .navbar-nav>li> a:focus {
    color: #337ab7;  
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #337ab7;
}

.ui-select-bootstrap>.ui-select-match>.btn {
    margin-left: 280px;

}

.statsRow {
    text-align: center;
}