
    <div ng-controller="IssuesCtrl as $ctrl">
        <div class="container">
            <!--<div class="container">-->
            <div class="row">
                <h1>Issues</h1>

                <form class="form-inline">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.options.title" id="title">
                    </div>
                    <div class="form-group">
                        <label for="SeriesNo">Series Number:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.options.series" id="series">
                    </div>
                    <div class="form-group">
                        <label for="Publisher">Publisher:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.options.publisher" id="publisher">
                    </div>
                    <div class="form-group">
                        <label for="PublicationDate">Publication Date:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.options.publicationDate" id="publicationDate">
                    </div>
                    <!--<button type="submit" class="btn btn-default" ng-click="$ctrl.addIssue($data, id)">Add</button>-->
                    <button type="submit" class="btn btn-default" ng-click="$ctrl.addIssue()">Add</button>
                </form>

                <div class="row">
                    <div class="col-md-12">
                        Search: <input type="text" name="issueSearch" ng-model="$ctrl.issueSearch" />
                        <button class="btn-default" type="button" ng-click="$ctrl.searchAll()">
                            <span class="glyphicon glyphicon-search"></span> Search All
                        </button>
                        <button class="btn-default" type="button" ng-click="$ctrl.restoreAll()">
                            Restore All
                        </button>
                    </div>
                </div>

            </div>
            <!--<div class="container">-->
            <div class="row">
                <pagination class="pagination-sm" ng-model="$ctrl.currentPage" boundary-links="true" ng-change="$ctrl.pageChanged()" num-pages="$ctrl.noOfPages" max-size="10" total-items="$ctrl.totalItems" items-per-page="20"></pagination>
            </div>

            <!--<div class="container-fluid">-->
            <div class="row">
                <br />
                Row Count:
                <select ng-change="$ctrl.changeRows()" ng-init="$ctrl.rowAmount" name="rowAmount" ng-model="$ctrl.rowAmount">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
                <br />
                <br />
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                    <th ng-click="$ctrl.orderTableBy('ID');">ID</th>
                    <th ng-click="$ctrl.orderTableBy('Title');">Title</th>
                    <th ng-click="$ctrl.orderTableBy('SeriesNo');">Series No</th>
                    <th ng-click="$ctrl.orderTableBy('PublicationDate');">Publication Date</th>
                    <th ng-click="$ctrl.orderTableBy('Publisher');">Publisher</th>
                    <th>Edit</th>
                    </thead>
                    <tbody>
                        <!--<tr ng-repeat="i in $ctrl.options | filter : 'Issue'">-->
                        <tr ng-repeat="i in $ctrl.options.Data | filter: $ctrl.issueSearch | orderBy:$ctrl.column:$ctrl.reverse">
                            <td>{{i.IssueID}}</td>
                            <td>
                                <span editable-text="i.Title" e-name="title" e-form="rowform" onbeforesave="checkTitle($data, i.id)" e-required>
                                    {{i.Title || 'empty'}}
                                </span>
                            </td>
                            <td>
                                <span editable-text="i.SeriesNumber" e-name="seriesNumber" e-form="rowform">
                                    {{i.SeriesNumber || 'empty'}}
                                </span>
                            </td>
                            <td>
                                <span editable-text="i.PublicationDate" e-name="publicationDate" e-form="rowform">
                                    {{i.PublicationDate || 'empty'}}
                                </span>
                            </td>
                            <td>
                                <span editable-text="i.Publisher" e-name="publisher" e-form="rowform">
                                    {{i.Publisher || 'empty'}}
                                </span>
                            </td>
                            <td>
                                <form editable-form name="rowform" ng-show="rowform.$visible" onbeforesave="$ctrl.saveIssue($data, i.IssueID)" class="form-buttons form-inline" shown="inserted == i">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                        save
                                    </button>
                                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                        cancel
                                    </button>
                                </form>

                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button type="button" class="btn btn-primary" ng-click="rowform.$show()">Edit</button>

                                    <!--<button type="button" class="btn btn-danger" ng-click="$ctrl.removeIssue()">del</button>-->
                                    <button type="button" class="btn btn-danger" ng-click="$ctrl.removeIssue(i)">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>