
<div ng-controller="ordersController4 as $octrl">
    <div class="container" id="popupContainer">
        <h1 style="text-align:center">Orders</h1>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary col-md-2 col-lg-offset-5" ng-click="$octrl.showNewOrder()">New Order</button>
                <br />
                <br />
                <div ng-show="$octrl.showMe" ng-submit="$octrl.placeOrder()" style="background-color:#e7e7e7; border-radius:5px">
                    <br />
                    <h4 style="text-align:center">Issue:</h4>
                    <ui-select ng-model="$octrl.selectedIssue"
                               theme="bootstrap"
                               reset-search-input="false"
                               style="width: 600px;"
                               title="Choose an Issue"
                               on-select="$octrl.getQuotes($item, $model)">
                        <ui-select-match placeholder="Enter an issue title">{{$octrl.selectedIssue.Title + " #" + $octrl.selectedIssue.SeriesNumber}}</ui-select-match>
                        <ui-select-choices repeat="item in ($octrl.someIssues.Data | filter: $select.search) track by item.IssueID"
                                           refresh="$octrl.refreshIssues($select.search)"
                                           refresh-delay="100"
                                           style="width: 600px;">
                            <div ng-bind-html="(item.Title+' #'+item.SeriesNumber)| highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <br />
                    <h4 style="text-align:center">Supplier Quote:</h4>
                    <select style="width: 600px;" class="btn btn-default dropdown-toggle col-md-offset-3" ng-model="$octrl.selectedQuotes" ng-options="x as x.Price + ' - ' + x.Supplier.Name for x in $octrl.quotes | orderBy: 'Price'">
                        <option value="">Select Quote</option>
                    </select>
                    <br />
                    <form name="newOrderForm">
                        <h4 style="text-align:center">Quantity: </h4>
                        <input type="number" class="col-md-offset-5" style="width:190px;" name="newQuantity" ng-model="$octrl.newOrder.qtyOrdered" required min="0" />
                        <div ng-messages="newOrderForm.newQuantity.$error" role="alert">
                            <div ng-message="required" style="margin-left:10px; margin-bottom:10px;color:red; text-align:center">Required</div>
                        </div>
                        <br />
                        <br />
                        <h5 style="text-align:center">Total: R <test ng-if="$octrl.selectedQuotes.Price != null">{{$octrl.selectedQuotes.Price * $octrl.newOrder.qtyOrdered}}</test></h5> 
                        <button class="btn btn-primary col-md-2 col-lg-offset-5" ng-click="$octrl.showAlert($event)" type="submit">Place Order</button>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="float:left">
            <div class="col-md-12">
                Search: <input type="text" name="ordersSearch" ng-model="$octrl.ordersSearch" />
                <button class="btn-default" type="button" ng-click="$octrl.searchAll()">
                    <span class="glyphicon glyphicon-search"></span> Search All
                </button>
                <button class="btn-default" type="button" ng-click="$octrl.restoreAll()">
                    Restore All
                </button>
            </div>
        </div>
            <div id="selectID"  class="row" style="float:right">
                <label>Orders Per Page:</label>
                <select ng-init="$octrl.rowAmount" name="rowAmount" ng-model="$octrl.rowAmount" data-width="150px" title="Row Count:">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover table-condensed" cg-busy="$octrl.myPromise">
                    <tr style="font-weight: bold">
                        <th ng-click="$octrl.orderTableBy('OrderID');">Order ID</th>
                        <th ng-click="$octrl.orderTableBy('OrderDate');">Order Date</th>
                        <th ng-click="$octrl.orderTableBy('IssueID');">Issue ID</th>
                        <th ng-click="$octrl.orderTableBy('QtyOrdered');">Qty Ordered</th>
                        <th ng-click="$octrl.orderTableBy('Total');">Total</th>
                        <th ng-click="$octrl.orderTableBy('SupplierID');" ">Supplier ID</th>
                        <th>Shipment Ref</th>
                        <th ng-click="$octrl.orderTableBy('ShipmentDate');">Shipment Date</th>
                        <th ng-click="$octrl.orderTableBy('DeliveryStatus');">Delivery Status</th>
                        <td style="width:auto">Edit</td>
                    </tr>
                    <tr ng-repeat="order in $octrl.someOrders.Data | filter: $octrl.ordersSearch | orderBy:$octrl.column:$octrl.reverse">
                        <td class="col-md-1" style="text-align:center">
                            {{ order.OrderID || 'empty' }}
                        </td>
                        <!--<span editable-uidate="user.dob"
                              e-ui-date="datePickerConfig">
                            {{ (user.dob | date:"dd/MM/yyyy") || 'empty' }}
                        </span>-->
                        <td class="col-md-1" style="text-align:center">
                            <span editable-text="order.OrderDate" e-name="OrderDate" e-form="rowform" onbeforesave="checkName($data, order.OrderDate)">
                                {{ order.OrderDate || 'empty' | date:'medium'}}
                            </span>
                        </td>
                        <td class="col-md-1" style="text-align:center">
                            <span editable-text="order.IssueID" e-name="IssueID" e-form="rowform">
                                {{ order.IssueID || 'empty' }}
                            </span>
                        </td>
                        <td class="col-md-1" style="text-align:center">
                            <span editable-text="order.QtyOrdered" e-name="QtyOrdered" e-form="rowform">
                                {{ order.QtyOrdered || 'empty' }}
                            </span>
                        </td>
                        <td class="col-md-1" style="text-align:center">
                            <span editable-text="order.Total" e-name="Total" e-form="rowform">
                                R{{ order.Total || 'empty' | number:2 }}
                            </span>
                        </td>
                        <td class="col-md-1" style="text-align:center">
                            <span editable-text="order.SupplierID" e-name="SupplierID" e-form="rowform">
                                {{ order.SupplierID || 'empty' }}
                            </span>
                        </td>
                        <td class="col-md-1" style="text-align:center">
                            <span editable-text="order.ShipmentRef" e-name="ShipmentRef" e-form="rowform">
                                {{ order.ShipmentRef || 'empty' }}
                            </span>
                        </td>
                        <td class="col-md-1" style="text-align:center">
                            <span editable-text="order.ShipmentDate" e-name="ShipmentDate" e-form="rowform">
                                {{ order.ShipmentDate || 'empty' | date:'MMM d, y' }}
                            </span>
                        </td>
                        <td class="col-md-1" style="text-align:center">
                            <span editable-text="order.DeliveryStatus" e-name="DeliveryStatus" e-form="rowform">
                                {{ order.DeliveryStatus || 'empty' }}
                            </span>
                        </td>
                        <td style="white-space: nowrap; text-align:center" class="col-md-2">
                            <!-- form -->
                            <form editable-form name="rowform" onbeforesave="$octrl.saveOrder($data, order.OrderID)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == order">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-floppy-saved"></span> Save
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                    <span class="glyphicon glyphicon-floppy-remove"></span> Cancel
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button type="button" class="btn btn-primary" ng-click="rowform.$show()">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </button>
                                <!--
                                <button type="button" class="btn btn-danger" ng-click="$octrl.removeOrder($index, order.OrderID)">
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </button>
                                -->
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row text-center">
                <pagination id="pagi" ng-model="$octrl.currentPage" boundary-links="true" ng-change="$octrl.pageChanged()" num-pages="$octrl.noOfPages" max-size="10" total-items="$octrl.totalItems" items-per-page="$octrl.rowAmount"></pagination>
        </div>
    </div>
</div>