
    <div ng-controller="voucherController as $ictrl">
        <div class="container">
            <div class="row">
                <h1 class="col-md-4 col-md-offset-5">Vouchers</h1>
            </div>
            <div class="row">
                <button ng-click="$ictrl.showNewVoucher()" class="btn btn-primary col-md-4 col-md-offset-4" style="margin-bottom:10px">Make New Voucher</button>
                <br />
                <br/>
                <div ng-show="$ictrl.showMe" ng-submit="$ictrl.placeVoucher()" style="background-color:#e7e7e7; border-radius:5px;">
                    <br />
                    <form name="newVoucherForm">
                        <div class="row">
                            <div class="col-md-4" style="text-align:center">
                                <label style="margin-left:10px;">Voucher Amount:</label>
                                <input type="number" name="newVoucherAmount" ng-model="$ictrl.newVoucher.amount" required min="1" style="margin-bottom:10px" />
                                <div ng-messages="newVoucherForm.newVoucherAmount.$error" role="alert">
                                    <div ng-message="required" style="margin-left:10px; margin-bottom:10px;color:red; text-align:center">Required</div>
                                </div>
                            </div>
                            <div class="col-md-4" style="text-align:center">
                                <label style="margin-left:10px;">Quantity to be Issued</label>
                                <input type="number" pattern="[/^\d+$/]" name="newVoucherQTY" ng-model="$ictrl.newVoucher.qty" required min="1" style="margin-bottom:10px" oninvalid="setCustomValidity('Please enter only whole numbers')" onchange="try{setCustomValidity('')}catch(e){}"/>
                                <div ng-messages="newVoucherForm.newVoucherQTY.$error" role="alert">
                                    <div ng-message="required" style="margin-left:10px; margin-bottom:10px;color:red;text-align:center">Required</div>
                                </div>
                            </div>
                            <div class="col-md-4" style="text-align:center">
                                <label>Validity:</label>
                                <select name="newValid" ng-model="$ictrl.newVoucher.valid" required style="margin-bottom:10px">
                                    <option ng-selected="$ictrl.newVoucher.valid" value="true">Valid</option>
                                    <option value="false">Invalid</option>
                                </select>  
                                <div ng-messages="newVoucherForm.newValid.$error" role="alert">
                                    <div ng-message="required" style="color:red; text-align:center">Required</div>
                                </div>
                            </div> 
                        </div>              
                        <button class="btn btn-primary col-md-4 col-md-offset-4" type="submit" style="margin-top:5px;">Insert Voucher</button>
                    </form>
                </div>
            </div>
            <div class="row" style="float:right">
                <label>Vouchers Per Page:</label>
                <select ng-change="$ictrl.changeRows()" ng-init="$ictrl.rowAmount" name="rowAmount" ng-model="$ictrl.rowAmount">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
            <div class="row" style="float:left">
                <div class="col-md-12">
                    Search: <input type="text" name="vouchersSearch" ng-model="$ictrl.vouchersSearch" />
                    <button class="btn-default" type="button" ng-click="$ictrl.searchAll()">
                        <span class="glyphicon glyphicon-search"></span> Search All
                    </button>
                    <button class="btn-default" type="button" ng-click="$ictrl.restoreAll()">
                        Restore All
                    </button>
                </div>
            </div><br /><br /> 
            <table class="table table-condensed table-hover table-bordered">
                <thead>
                <th style="text-align:center" ng-click="$ictrl.orderTableBy('VoucherID');">VoucherID</thstyle="text-align:center">
                <th style="text-align:center" ng-click="$ictrl.orderTableBy('Amount');">Amount</th>
                <th style="text-align:center">Code</th>
                <th style="text-align:center">Date Issued</th>
                <th style="text-align:center">Validity</th>
                <th style="text-align:center">Edit</th>
                </th>
                <tbody>
                    <div class="row">
                        <tr ng-repeat="i in $ictrl.someVouchers.Data | filter: $ictrl.vouchersSearch | orderBy:$ictrl.column:$ictrl.reverse">
                            <td class="col-md-2" style="text-align:center">{{i.VoucherID}}</td>
                            <td class="col-md-2" style="text-align:center">
                                <span editable-text="i.Amount" e-name="Amount" e-form="rowform" ng-model="i.Amount" onbeforesave="$ictrl.checkAmount($data, rowform)" e-ng-blur="$ictrl.checkAmount($data, rowform)">
                                    R{{i.Amount || 'empty' | number:2}}
                                </span>
                            </td>
                            <td class="col-md-2" style="text-align:center" e-form="rowform" e-name="Code">{{i.Code}}</td>
                            <td class="col-md-2" style="text-align:center">{{i.DateIssued || 'empty' | date:'MMM d, y' }}
                                <!--<span editable-text="i.DateIssued" e-name="DateIssued" e-form="rowform">
                                    {{i.DateIssued || 'empty' | date:'MMM d, y' }}
                                </span>-->
                            </td>
                            <td class="col-md-2" style="text-align:center">
                                <span editable-select="i.Valid" e-name="Valid" e-form="rowform"  e-ng-options="v.value as v.text for v in Valid">
                                    {{$ictrl.CheckIfValid(i.Valid)}}
                                </span>
                            </td>
                            <td class="col-md-2" style="text-align:center">
                                <form editable-form name="rowform" onbeforesave="$ictrl.saveVoucher($data, i.VoucherID, i.Code, i.DateIssued)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == i">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-floppy-saved"></span>save
                                    </button>
                                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                        <span class="glyphicon glyphicon-floppy-remove"></span>cancel
                                    </button>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button type="button" class="btn btn-primary" ng-click="rowform.$show()">
                                        <span class="glyphicon glyphicon-edit"></span>Edit</button>
                                    <button type="button" class="btn btn-danger" ng-click="$ictrl.removeVoucher($index, i.VoucherID)">
                                        <span class="glyphicon glyphicon-trash"></span>Delete</button>
                                </div>
                            </td>
                        </tr>
                    </div>    
                </tbody>
            </table>
            <div class="row text-center">
                <pagination class="pagination-sm" ng-model="$ictrl.currentPage" boundary-links="true" ng-change="$ictrl.pageChanged()" num-pages="$ictrl.noOfPages" max-size="10" total-items="$ictrl.totalItems" items-per-page="$ictrl.rowAmount"></pagination>
                <br />
            </div>
        </div>
    </div>

